spring.application.name=todolist
#database
spring.datasource.hikari.connectionTimeout=20000
spring.datasource.hikari.maximumPoolSize=5
spring.datasource.url=jdbc:postgresql://localhost:5432/todolist
spring.jpa.hibernate.ddl-auto=create-drop
spring.data.jpa.repositories.enabled=true
spring.data.jpa.repository.config.auditing.enabled=true
spring.datasource.username=postgres
spring.datasource.password=password;
#mail
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.username=karadahitotsu.mailbot@gmail.com
spring.mail.password=mail password;



